$main: #3c3f50;
$secondary: #d5d9eb;
$button-hover: #5c5c5c;
$lines: #002125;
$completed: #70bb6d;

.edit-form {
  display: flex;
  align-items: center;
  justify-content: center;

  input[type="text"] {
    margin: 1vh 0;
    height: 3vh;
  }

  input[type="checkbox"] {
    width: 3vh;
    height: 3vh;
    accent-color: $secondary;
  }

  button {
    border: 1px solid $lines;
    padding: 1vh 2vh;
    border-radius: 1vh;
    background-color: $secondary;
    color: $lines;
    font-size: 1.25rem;
    font-weight: bold;

    &:hover {
      color: $button-hover;
      cursor: pointer;
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 2vh;
    }
  }
}
