$color_1: #3c3f50;
$color_2: #d5d9eb;
$color_3: #70bb6d;
$color_4: #002125;

html {
  width: 100%;
  height: 100%;

  background-color: $color_1;
  font-size: 2vh;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 2vh;

  border-bottom: 1px solid $color_4;
  font-weight: bold;

  &__item {
    text-decoration: none;
    margin: 0 5vw;
    color: $color_2;
    font-size: 1.25rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex: 1;

  color: $color_2;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  padding: 1vh;

  border-top: 1px solid $color_4;
  color: $color_2;

  &div {
    font-size: 1rem;
  }
}
