$main: #3c3f50;
$secondary: #d5d9eb;
$button-hover: #5c5c5c;
$lines: #002125;
$completed: #70bb6d;
$cancel: #d39b9b;

.add-todo-container {
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    width: auto;

    p {
      text-align: center;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;

      span {
        margin-left: 2vh;
      }
    }

    &__input[type="text"] {
      margin: 1vh 0;
      height: 2vh;
    }

    &__input[type="checkbox"] {
      accent-color: $secondary;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
      border: 1px solid $lines;
      padding: 0.75vh 1vh;
      border-radius: 1vh;
      background-color: $secondary;
      color: $lines;
      font-size: 0.75rem;
      font-weight: bold;

      &:hover {
        color: $button-hover;
        cursor: pointer;
      }

      &_close {
        padding: 0.75vh 1.5vh;
        background-color: $cancel;
      }
    }
  }
}

.todos {
  width: fit-content;

  .todo {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      accent-color: $secondary;
    }

    input[type="checkbox"]:checked + p {
      text-decoration: line-through;
      color: $completed;
    }

    input[type="checkbox"]:checked
      + p
      + div
      > div:first-child
      > div:first-child {
      text-decoration: line-through;
      color: $completed;
    }

    .todo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .todo-info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        height: auto;

        &__text {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        }

        p {
          margin: 1vh 1vh;
          text-align: center;

          &:hover {
            cursor: default;
          }
        }
      }

      a,
      button {
        text-decoration: none;
        border: 1px solid $lines;
        padding: 0.5vh 1vh;
        border-radius: 1vh;
        background-color: $secondary;
        color: $lines;
        font-size: 0.75rem;
        font-weight: bold;

        &:hover {
          color: $button-hover;
          cursor: pointer;
        }
      }
    }
  }
}

.todo-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
