$main: #3c3f50;
$secondary: #d5d9eb;
$button-hover: #5c5c5c;
$lines: #002125;
$completed: #70bb6d;

.edit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;

    input[type="checkbox"] {
      accent-color: $secondary;
    }
  }

  button {
    border: 1px solid $lines;
    padding: 0.5vh 1vh;
    border-radius: 1vh;
    background-color: $secondary;
    color: $lines;
    font-size: 0.75rem;

    &:hover {
      color: $button-hover;
      cursor: pointer;
    }
  }
}
