$secondary: #d5d9eb;
$button-hover: #5c5c5c;
$lines: #002125;

p {
  text-align: center;
  font-size: 0.75rem;
}

.login {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__checkbox-container {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        accent-color: $secondary;
      }

      span {
        margin-left: 1vh;
        font-size: 0.75rem;
      }
    }

    &__button-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .form__button {
        text-decoration: none;
        border: 1px solid $lines;
        padding: 0.5vh 2vh;
        border-radius: 1vh;
        background-color: $secondary;
        color: $lines;
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;

        &:hover {
          color: $button-hover;
          cursor: pointer;
        }
      }
    }
  }
}
